@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/* || VARIABLES */
:root {
  --FONT-FAMILY: "Nunito", sans-serif;
  --FONT-SIZE: 1.5vw
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FONT-FAMILY);
  font-size: var(--FONT-SIZE);
}

h1 {
  font-size: 2vw 
}

h2 {
  font-size: 1vw; 
}

a {
  color: black;
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
}